<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--ul>
    <li *ngFor="let media of mediaArray">
      <img [src]="mediaProvider.mediaUrl + thumbnailer(media.filename)">
      <h4>{{media.title}}</h4>
      <p>{{media.description}}</p>
    </li>
  </ul-->

  <ion-card *ngFor="let media of mediaArray">

    <ion-card-header>
      {{media.title}}
    </ion-card-header>

    <img [src]="mediaProvider.mediaUrl + thumbnailer(media.filename)">

    <ion-card-content>
      <p>{{media.description}}</p>
    </ion-card-content>

  </ion-card>

</ion-content>
